In [ ]:
!wget https://datahack-prod.s3.amazonaws.com/train_file/train_LZdllcl.csv -O train.csv

!wget https://datahack-prod.s3.amazonaws.com/test_file/test_2umaH9m.csv -O test.csv

!wget https://datahack-prod.s3.amazonaws.com/sample_submission/sample_submission_M0L0uXE.csv -O sample_submission.csv

In [ ]:
# Import the required packages
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns

In [ ]:
# Read the train and test data
train=pd.read_csv("train.csv")
train.drop('employee_id',inplace=True,axis = 1)
test=pd.read_csv("test.csv")

In [ ]:
# Check the variables in train data
train.columns

In [ ]:
# Print datatype of each variable
train.dtypes

In [ ]:
# Dimension of the train dataset
train.shape

In [ ]:
# Print the head of train dataset
train.head()

In [ ]:
# Unique values in each variable of train dataset
train.nunique()

### Univariate Analysis

#### Target Variable

In [ ]:
train['is_promoted'].value_counts(normalize=True)

In [ ]:
# Around 91% trainee have promoted
# Unbalanced dataset

#### Categorical Independent Variables

In [ ]:
plt.figure(1)
plt.subplot(221)
train['department'].value_counts(normalize=True).plot.bar(figsize=(20,10), title= 'Department')

plt.subplot(222)
train['awards_won?'].value_counts(normalize=True).plot.bar(title= 'Awards won')

plt.subplot(223)
train['education'].value_counts(normalize=True).plot.bar(title= 'Education')

plt.subplot(224)
train['gender'].value_counts(normalize=True).plot.bar(title= 'Gender')

plt.show()

In [ ]:
# Most of the trainee are enrolled for Y and T program_type.
# More number of trainee enrolment for offline test than online test.
# Most of the test are easy in terms of difficulty level.

In [ ]:
train['KPIs_met >80%'].value_counts(normalize=True).plot.bar(title= 'KPI met greater than 80')

In [ ]:
plt.figure(1)
plt.subplot(221)
train['region'].value_counts(normalize=True).plot.bar(figsize=(20,10), title= 'Region')

plt.subplot(222)
train['recruitment_channel'].value_counts(normalize=True).plot.bar(title='Recruitment Channels')

plt.subplot(223)
train['no_of_trainings'].value_counts(normalize=True).plot.bar(title= 'No of Trainings')

plt.subplot(224)
train['previous_year_rating'].value_counts(normalize=True).plot.bar(title= 'Previous year ratings')

plt.show()

In [ ]:
# More male trainee as compared to female trainee
# Most of the trainee have diploma
# Most of the trainee belongs to tier 3 city
# 10% of the trainee are handicapped

#### Numerical Independent Variables

In [ ]:
sns.distplot(train['age']);

In [ ]:
# Most of the trainee are in the age range of 20-30 and 40-50

In [ ]:
sns.distplot(train['length_of_service']);

In [ ]:
sns.distplot(train['avg_training_score']);

### Bivariate Analysis

In [ ]:
# Correlation between numerical variables
matrix = train.corr()
f, ax = plt.subplots(figsize=(9, 6))
sns.heatmap(matrix, vmax=.8, square=True, cmap="BuPu");

In [ ]:
# Not much correlation between the variables

In [ ]:
# program_id vs is_pass
plt.figure(figsize=(12,4))
sns.barplot(train['department'], train['is_promoted'])

In [ ]:
plt.figure(figsize=(20,8))
# program_type vs is_pass
sns.barplot(train['region'], train['is_promoted'])

In [ ]:
# Trainee in X and Y program type have higher chances to pass the test

In [ ]:
# test_type vs is_pass
sns.barplot(train['recruitment_channel'], train['is_promoted'])

In [ ]:
# Trainee attending online mode of test have higher chances to pass the test

In [ ]:
# difficulty_level vs is_pass
sns.barplot(train['no_of_trainings'], train['is_promoted'])

In [ ]:
# If the difficulty level of the test is easy, chances to pass the test are higher

In [ ]:
# Gender vs is_pass
sns.barplot(train['previous_year_rating'], train['is_promoted'])

In [ ]:
# Gender does not affect the chances to pass the test

In [ ]:
# education vs is_pass
plt.figure(figsize=(12,4))
sns.barplot(train['education'], train['is_promoted'])

In [ ]:
# Trainee with Masters education level have more chances to pass the test

In [ ]:
plt.figure(figsize=(20,8))
# is_handicapped vs is_pass
sns.barplot(train['length_of_service'], train['is_promoted'])

In [ ]:
# Handicapped trainee have less chances to pass the test

In [ ]:
# city_tier vs is_pass
sns.barplot(train['KPIs_met >80%'], train['is_promoted'])

In [ ]:
# Trainee from city tier 1 have higher chances to pass the test

In [ ]:
# trainee_engagement_rating vs is_pass
sns.barplot(train['awards_won?'], train['is_promoted'])

In [ ]:
# As the trainee engagement rating increases, chances to pass the test also increases

### Missing Values Treatment

In [ ]:
# Check the number of missing values in each variable
train.isnull().sum()

In [ ]:
# age and trainee_engagement_rating variables have missing values in it.

In [119]:
test = pd.read_csv('test.csv')
test.drop('employee_id',inplace=True,axis = 1)
test.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [120]:
test['education'].fillna('other',inplace=True)
test['previous_year_rating'].fillna(99,inplace=True)

train['education'].fillna('other',inplace=True)
train['previous_year_rating'].fillna(99,inplace=True)

### Logistic Regression

In [121]:
train.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [126]:
# Save target variable in separate dataset
X = train.drop('is_promoted',axis=1)
y = train.is_promoted

In [129]:
test

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,Technology,region_26,Bachelor's,m,sourcing,1,24,99.0,1,1,0,77
1,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61
5,Procurement,region_7,Bachelor's,m,sourcing,1,36,3.0,2,0,0,68
6,Finance,region_2,Bachelor's,m,other,1,33,5.0,3,1,0,57
7,Analytics,region_22,Bachelor's,m,sourcing,2,36,3.0,3,0,0,85
8,Technology,region_7,Master's & above,m,other,1,51,4.0,11,0,0,75
9,Technology,region_22,Bachelor's,m,sourcing,1,29,5.0,2,1,0,76
10,Sales & Marketing,region_16,Bachelor's,m,sourcing,2,40,5.0,12,1,0,50
11,Sales & Marketing,region_17,Master's & above,m,sourcing,1,40,3.0,10,0,0,46
12,Sales & Marketing,region_4,Master's & above,f,other,1,34,3.0,4,0,0,52
13,Analytics,region_24,Bachelor's,m,other,1,37,3.0,10,0,0,82
14,Operations,region_11,Bachelor's,m,sourcing,1,30,5.0,6,1,0,58
15,Sales & Marketing,region_7,Bachelor's,m,sourcing,1,31,4.0,4,1,0,47
16,Operations,region_27,Bachelor's,f,sourcing,1,26,5.0,3,0,0,56
17,Sales & Marketing,region_17,Bachelor's,m,sourcing,1,40,5.0,6,1,0,50
18,Procurement,region_7,Bachelor's,f,other,1,49,3.0,7,1,0,64
19,Procurement,region_27,Bachelor's,m,other,1,27,2.0,5,0,0,65
20,Sales & Marketing,region_9,Master's & above,m,sourcing,1,37,5.0,3,0,0,47
21,Technology,region_17,Bachelor's,m,sourcing,1,25,99.0,1,0,0,80
22,Technology,region_29,Master's & above,m,sourcing,1,30,1.0,3,0,0,83
23,Procurement,region_4,Master's & above,m,other,1,41,3.0,4,0,0,76
24,Finance,region_20,Bachelor's,f,other,1,29,4.0,6,1,0,58
25,Operations,region_20,Bachelor's,m,other,1,33,3.0,7,1,1,62
26,Sales & Marketing,region_17,Master's & above,m,sourcing,1,34,4.0,6,1,0,50
27,Analytics,region_13,Bachelor's,m,sourcing,1,34,3.0,3,1,0,87
28,Operations,region_22,Bachelor's,m,other,1,52,1.0,10,0,0,61
29,Sales & Marketing,region_34,Bachelor's,m,sourcing,1,30,2.0,3,0,0,50
...,...,...,...,...,...,...,...,...,...,...,...,...
23460,Operations,region_32,Bachelor's,f,other,1,31,4.0,7,1,0,65
23461,Sales & Marketing,region_22,Bachelor's,f,other,2,27,4.0,4,0,0,48
23462,Analytics,region_31,Bachelor's,m,other,1,36,5.0,7,1,0,86
23463,Analytics,region_21,Bachelor's,m,other,1,30,3.0,3,1,0,87
23464,Analytics,region_2,Bachelor's,m,sourcing,2,25,1.0,2,1,0,83
23465,Technology,region_7,Bachelor's,f,sourcing,1,24,4.0,2,0,0,85
23466,Technology,region_2,Master's & above,f,other,1,40,4.0,10,0,0,76
23467,Technology,region_2,Bachelor's,m,referred,2,28,4.0,6,1,0,79
23468,Sales & Marketing,region_2,Bachelor's,m,other,1,32,2.0,6,1,0,49
23469,Procurement,region_26,Bachelor's,f,other,1,30,1.0,1,0,0,69
23470,Sales & Marketing,region_30,Bachelor's,m,sourcing,1,36,5.0,3,0,0,49
23471,Procurement,region_13,Master's & above,m,sourcing,1,40,4.0,9,1,0,69
23472,Technology,region_6,Bachelor's,f,other,1,29,3.0,3,0,0,87
23473,Operations,region_25,Master's & above,m,sourcing,1,38,3.0,8,0,0,57
23474,Operations,region_7,Master's & above,f,other,2,43,3.0,3,0,0,61
23475,Legal,region_27,Bachelor's,f,sourcing,1,28,3.0,2,0,0,61
23476,Sales & Marketing,region_2,Master's & above,f,other,1,51,4.0,8,0,0,50
23477,Procurement,region_2,Bachelor's,m,sourcing,3,28,4.0,6,0,0,68
23478,Procurement,region_17,Bachelor's,f,sourcing,1,27,4.0,3,1,0,69
23479,Sales & Marketing,region_2,Bachelor's,m,other,3,20,99.0,1,0,0,49
23480,Operations,region_33,Bachelor's,f,sourcing,1,29,5.0,6,1,0,60
23481,Operations,region_22,Master's & above,m,other,2,40,5.0,3,1,0,60
23482,Sales & Marketing,region_2,other,m,sourcing,2,44,4.0,4,0,0,49
23483,Sales & Marketing,region_30,Bachelor's,m,other,1,34,3.0,5,0,0,49
23484,Sales & Marketing,region_20,Bachelor's,m,other,1,28,4.0,2,0,0,51
23485,Legal,region_2,Below Secondary,m,sourcing,1,24,3.0,1,0,0,61
23486,Technology,region_25,Bachelor's,m,sourcing,1,31,3.0,7,0,0,74
23487,HR,region_16,Bachelor's,f,sourcing,1,26,4.0,4,0,0,50
23488,Procurement,region_31,Bachelor's,m,sourcing,3,27,99.0,1,0,0,70
23489,Technology,region_17,Master's & above,m,other,3,40,5.0,5,1,0,89

In [130]:
# Apply dummies to the dataset
X=pd.get_dummies(X)
test=pd.get_dummies(test)

In [131]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import f1_score

In [135]:
# Logistic regression using 5 fold stratified cross validation
i=1
kf = StratifiedKFold(n_splits=5,random_state=1,shuffle=True)
for train_index,test_index in kf.split(X,y):
     print('\n{} of kfold {}'.format(i,kf.n_splits))
     xtr,xvl = X.loc[train_index],X.loc[test_index]
     ytr,yvl = y[train_index],y[test_index]
    
     model = LogisticRegression(random_state=1)
     model.fit(xtr, ytr)
     pred=model.predict_proba(xvl)[:,1]
     score = f1_score(yvl,pred.round())
     print('f1_score',score)
     i+=1
# Making predictions for the test data
pred=model.predict_proba(test)[:,1]

1 of kfold 5
f1_score 0.3530391340549542

2 of kfold 5
f1_score 0.38372093023255816

3 of kfold 5
f1_score 0.3692564745196324

4 of kfold 5
f1_score 0.38259441707717573

5 of kfold 5
f1_score 0.37615449202350965

In [136]:
# Read the submission file
submission=pd.read_csv("sample_submission.csv")

In [137]:
submission.head()

   employee_id  is_promoted
0         8724            0
1        74430            0
2        72255            0
3        38562            0
4        64486            0

In [138]:
# Fill the is_pass variable with the predictions
submission['is_promoted']=pred.round()

In [139]:
submission.head()

   employee_id  is_promoted
0         8724          0.0
1        74430          0.0
2        72255          0.0
3        38562          0.0
4        64486          0.0

In [140]:
submission['is_promoted'].value_counts()

0.0    22935
1.0      555
Name: is_promoted, dtype: int64

In [141]:
# Converting the submission file to csv format
submission.to_csv('logistic_submission.csv', index=False)

score on leaderboard - 0.71145